<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pasien</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<h1>Tabel Negara</h1>

	<br>

	<table border="1" class="table">
		<thead  class="thead-dark">
			<tr>
				<th scope="col">Kode</th>
				<th scope="col">Nama</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="negaraModel:${negaraModelList}">
				<td><a th:text="${negaraModel.kodeNegara}"></a></td>
				<td><a th:text="${negaraModel.namaNegara}"></a></td>			
			</tr>
		</tbody>

	</table>

</body>
</html>